body {
    margin: 10px;
    padding: 10px;
    font-family: "Noto Sans KR", serif !important;
}

.noto-sans-kr-uniquifier {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.profile-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
    
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.profile-info p {
    font-size: 14px;
    color: #666;
}

.profile-img .circle {
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 50%;
}

.calendar-container {
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header h3 {
    text-align: center;
    margin-bottom: 10px;
}

.arrow-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow-btn:hover {
    color: #7466CE;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar span {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.calendar span.header {
    font-weight: bold;
    color: #555;
}

.weekly-record{
    margin-top: 20px;
}